<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO2eACD00y6v0pq1QmMXxcMWnqM_RW_nw</string>
	<key>GCM_SENDER_ID</key>
	<string>391905532737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment4</string>
	<key>PROJECT_ID</key>
	<string>assignment4-98795</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment4-98795.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391905532737:ios:e2b40ce7fe9f017c8edfc0</string>
</dict>
</plist>